<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipes</title>
  <link rel="stylesheet" href="{% static 'recipes/css/main.css' %}">
</head>
<body>
  <button>
  <a href="{%url 'logout' %}"> Logout </a></button>
  <button>
  <a href="{%url 'recipes:search' %}"> Search </a></button>
  
  <h1>Recipes' list</h1>
{% comment%} HTML tag for heading {% endcomment%}

<table border="1" cellpadding="5" cellspacing="5">
  {% comment%} start of table {% endcomment%}
  <tr>
    {% comment%} the
  </tr>
  <tr>
    tag adds a new row {% endcomment%}
    <td>Recipes' Titles</td>
    {% comment%} the
    <td>tag adds a column {% endcomment%}</td>
    <td>Recipes Images</td>
  </tr>
  {% for object in object_list %} {% comment%} go through each element of recipes'
  list {% endcomment%}
  <tr>
    <td><button>
      <a href="{{object.get_absolute_url}}">
        {% comment%} add links to recipe names {% endcomment%} {{object.name}}
      </a></button>
    </td>
    <td><img src="{{object.pic.url}}" width="150" /></td>
  </tr>
  {% endfor %}
</table>
</body>
</html>
