<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'recipes/css/search.css' %}">
</head>
<body>
  <h1>Search for recipes</h1>

<hr />
<form action="" method="POST">
  {% csrf_token %} 
  {{form}}
  <button type="submit">search</button>
  <hr>
  {% if recipes_df %}
   {{recipes_df|safe}} 
  {% else %}
   <h3> no data</h3>
  {% endif %}
</form>
</body>
</html>

